---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Image } from 'astro:assets';
import profilePicture from '../images/retrato_retiro_the_fathers_house.png';
import CopyButton from "../components/CopyButton.astro";
import Cont from "../components/Container.astro";
import Carousel from "../components/Carousel.astro";
import ExpensesDisplay from "../components/ExpensesDisplay.astro";
import GoalDisplay from "../components/GoalDisplay.astro";
import L from '../components/Link.astro';

const images_seek24 = Array.from(await Astro.glob('../images/seek24/*.{jpg, jpeg, png}')).map(i => i.default);
const images_semestre = Array.from(await Astro.glob('../images/semestre/*.{jpg,jpeg,png}')).map(i => i.default);
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class=`
		flex flex-col gap-12
		bg-white p-6 lg:p-12
		max-w-4xl mx-auto
		pb-24
	`>
		<div class=`flex flex-col md:flex-row gap-6 w-full`>
			<Image src={profilePicture} alt="Profile photo" class=`
				w-full md:w-64
				aspect-square md:aspect-auto object-cover object-bottom
			`/>

			<div class=`flex flex-col gap-6`>
				<h1>Hola, soy Diego Hernández</h1>

				<p>Un universitario católico de 20 años que necesita tu ayuda para vivir SEEK 2025.</p>

				<button id="ctaButton" class=`p-6 bg-blue-600 text-white`>
					Donar
				</button>
			</div>
		</div>

		<Cont asCallout={true}>
			<h3>¿Qué es SEEK?</h3>
			<p>
				<L href="https://seek.focus.org/">SEEK</L> es la conferencia anual que organiza <L href="https://focus.org/">FOCUS Catholic</L> todos los años para reunir a decenas de miles de universitarios católicos. Durante 5 días, vivimos misa juntos, asistimos a charlas formativas y conocemos a universitarios de todo el continente. Este año, SEEK 2025 tendrá lugar del 1 al 5 de enero en Salt Lake, Utah, EUA.
			</p>
		</Cont>

		<ExpensesDisplay />
		<GoalDisplay />

		<Cont>
			<h3>SEEK 2024</h3>

			<p>
				El año pasado tuve la oportunidad de vivir SEEK 2024, que se llevó a cabo en Saint Louis, Missouri, EUA.
			</p>

			<Carousel images={images_seek24} />

			<p>
				Gracias a la manera en que Dios obró en mi corazón el año pasado durante SEEK 2024, pude recibir la gracia de:
			</p>

			<ul class="-mt-3">
				<li>empezar un proceso de discernimiento vocacional</li>
				<li>ser Director de Imagen para el grupo estudiantil de FOCUS en el Tecnológico de Monterrey</li>
				<li>organizar eventos formativos y recreativos para la comunidad católica en campus</li>
				<li>participar de un grupo de estudio bíblico y un grupo de discipulado</li>
				<li>dirigir mi propio grupo de estudio bíblico para hombres en el Tec</li>
			</ul>

			<Carousel images={images_semestre} />
		</Cont>

		<Cont asCallout={true}>
			<h3>¿Quieres que ore por algo?</h3>
			<p>Si quieres que ore por algo en especial durante SEEK 2025, llena el siguiente formulario para que lo pueda tener presente en mi oración.</p>
			<L href="https://diego-hdz.notion.site/13be954db47680a4a3dfc1526aceb634?pvs=105">
				<button class="border-2 border-blue-500">
					Ir al formulario
				</button>
			</L>
		</Cont>

		<!-- Popup -->
		<div class=`
			popup
			hidden inset-0 bg-black/20 backdrop-blur-sm
			flex items-center justify-center lg:p-6
		`>
			<div class=`
				content
				absolute bottom-0 lg:bottom-auto w-full max-w-xl
				translate-y-96 
				duration-300
				lg:w-2/3
				bg-white p-6 pb-12 lg:p-12
				rounded-t
				flex flex-col gap-6
			`>
				<h3>
					Moneypool
				</h3>

				<p class="text-sm">
					Puedes donar con tu tarjeta bancaria directamente, a través de Moneypool.
				</p>

				<a href="https://www.moneypool.mx/p/IeBnElA" target="_blank">
					<button class="border-2 border-solid border-black">
						Ir a Moneypool
					</button>
				</a>

				<h3>Transferencia bancaria</h3>

				<p class="text-sm">
					Puedes depositarme a mi cuenta personal. En la descripción de la transferencia, pon tu nombre y el texto 'SEEK' para poder agradecerte.
				</p>

				<p>CLABE: <span class="code">012 180 01525621081 9</span></p>
				<CopyButton text="Copiar la CLABE" value="012180015256210819" />
			</div>
		</div>

		<script>
			const popup = document.querySelector('.popup');
			const content = popup?.querySelector('.content');
			const html = document.querySelector('html');

			const togglePopup = () => {
				if (!popup || !content) {
					return;
				}

				if (popup.classList.contains('hidden')) { // Is closed, open
					html?.classList.add('overflow-hidden');
					popup.classList.replace('hidden', 'fixed');
					setTimeout(() => {
						content.classList.replace('translate-y-96', 'translate-y-0');
					}, 0)
				} else { // Is open, close
					html?.classList.remove('overflow-hidden');
					content.classList.replace('translate-y-0', 'translate-y-96');
					setTimeout(() => {
						popup.classList.replace('fixed', 'hidden');
					}, 200);
				}
			}

			const ctaButton = document.getElementById('ctaButton');
			ctaButton?.addEventListener('click', togglePopup);
			popup?.addEventListener('click', (event) => {
				if (event.target && (event.target as HTMLElement).classList.contains('popup')) {
					togglePopup();
				} else {
					event.stopPropagation();
				}
			})
		</script>
	</body>
</html>
